/* style the chatbot */
h1{
    text-align: center;
}
body{
	background-color: #50514f;
	font-family:"Open Sans", sans-serif;
	margin: 0;
	padding: 0;
    text-align: center;
}

h1{
	font-size: 20px;
	font-weight: bolder;
	border: 3px solid #fff;
	padding: 10px 50px;
	margin-bottom: 10px;
}
 
#result{
	font-size: 24px;
	color: black;
	font-family: 'bookman old style';
}

#response{
	color: black;
	padding:10px;
	font-size: 20px;
	background: transparent;
	border: 2px solid  #b068b3;
	border-radius: 20px;
	box-shadow: black;

}
#response:focus{
	outline:0;
	outline-offset: 0;
}
#admin{
    height: 100px;
    width: 100px;
    border-radius: 55px;
    
}
#submit{
		background-color:rgb(224, 113, 224);
		height: 50px;
		width :10%;
		border-radius: 25px;
		align-items: center;
		font-size: 1.2rem;
		box-shadow: 0px 10px 10px rgb(209, 205, 199);
	}
#submit:hover{
		  transform: translateX(2px);
	  }
#botbox{
	max-width: 500px;
      width: 80%;
      background: #fff;
      margin: 20px auto;
      padding: 30px;
      box-shadow: transparent;
      border-radius: 20px;
      border: 6px groove burlywood;
      box-shadow: 0px 20px 20px rgb(209, 205, 199);
}
